body {
    background: #252525;
    
 }
.header {
    background-image: url('Foto/img.png');
    background-position: top;
    width: 1500px;
    height: 1000px;
    margin: auto;
    position: relative;
   }
  .header__logo {
    font-size: 50px;
    line-height: 25px;
    color: #262626;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    position: absolute;
    left:165px;
    top:50px;
  } 
  .header__logo a{
    text-decoration: none;
    color: #262626;
  }
  
  .header__head {
    font-size: 60px;
    line-height: 25px;
    color: #262626;
    font-weight:800;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left:164px;
    top:360px;
  }
  .header__text {
    width: 370px;
    height: 70px;
    font-size: 17px;
line-height: 27px;
color: #262626;
font-weight: 300;
font-family: 'Raleway', sans-serif;
position: absolute;
    left:164px;
    top:440px;
  }
  .header__button {
   
    background-color: #FF6033;
    width: 201px;
    height: 56px;
    margin-top: 38px;
    font-size: 20px;
line-height: 27px;
color: #ffffff;
font-weight: 300;
font-family: 'Raleway', sans-serif;
    text-align: center;
    cursor: pointer; 
    text-transform: uppercase;
    position: absolute;
    left:164px;
    top:540px;
    }
    .header__button:hover {
        transform: scale(1.2);
        transition: transform 1s;
    }
  .header__navigation {
    width: 560px;
    height: 25px;
    /* border: 2px solid red;  */
    position: absolute;
    left:776px;
    top:56px;
    display: flex;
    align-items: center;
    justify-content:space-around;
   align-self:center;
  }
  .navigation__button {
   background-color: #FAFAFC;
   font-size: 16px;
   color: #262626;
   font-weight: 700;
   font-family: 'Raleway', sans-serif;
   text-align: right;
   text-decoration: none;
   padding-top: 8px;
  }
  .navigation__button:hover {
    /* text-decoration:overline 2px red; */
    border-top: 2px solid red;
    padding-top: 6px;
  }
  .navigation__button:active, .header__logo a:active {
    color: red;
   
}
  
   .about {
    width: 1500px;
    height: 700px;
    margin: auto;
    background-color:#00BFBF;
    background-image: url('Foto/img2.png');
    background-repeat: no-repeat;
    background-position: 170px 80px;
    position: relative;
   }
   .about__head {
    font-size: 90px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left:835px;
    top:180px;
   }
   .about_text {
    width: 480px;
    height: 190px;
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left:835px;
    top:280px;
   }
 .about_text_2 {
     padding-top: 10px;
 }  